<footer class="footer">
  <small>
    Paypal Integration </a>
    by <a href="https://stackoverflow.com/users/1694964/arif-usman">Arif Usman</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>